*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.3;
}

body {
  margin: 0;
  padding: 0;
  min-height: inherit;
  font-family: Helvetica, sans-serif;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.app {
  width: 600px;
  padding: 1rem;
}

@media (max-width: 600px) {
  .app {
    width: 100%;
  }
}
